<div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
                <div class="off"></div>
            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>Welcome</h1>
        <h3>To Sekhmet</h3>
        
    
      <form *ngIf="authService.loggedIn()" ng-app="form" #f="ngForm" class = "formsearch" [(ngModel)]="form" method="POST" [formGroup]="myForm" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            <div id="search-container" ng-controller="formController">
                <div>
                    <input id="search-bar" type="text" name="search" placeholder="Search..." formControlName="search" ng-model="form.search">
                </div>
                <div>
                    <button type="button" routerLink="/results" ng-click="submit()" id = "search-button"><i class = "fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>